<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>raceExecutor</servlet-name>
        <servlet-class>ua.holovchenko.module4web.servlets.RunExecutorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>raceExecutor</servlet-name>
        <url-pattern>/race/run</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>info</servlet-name>
        <servlet-class>ua.holovchenko.module4web.servlets.InfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>info</servlet-name>
        <url-pattern>/race/info</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>stats</servlet-name>
        <servlet-class>ua.holovchenko.module4web.servlets.StatsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>stats</servlet-name>
        <url-pattern>/stats</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>start</servlet-name>
        <jsp-file>/start.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>start</servlet-name>
        <url-pattern>/race/start</url-pattern>
    </servlet-mapping>
</web-app>
